<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List all Products</title>
</head>

<body>
    <article>

        <% Products.map((data)=>{ %>

            <img src="<%= data.url %>" width="200px" height="200px">

            <h1>Name: <%= data.Pname %>
            </h1>
            <h4>Id: <%= data.P_id %>
            </h4>
            <h4>Price: <%= data.P_price %>
            </h4>

            <aside>
                <button><a href="/product/<%= data.P_id %>">Show</a></button>
                <button><a href="/product/<%= data.P_id %>/edit">Edit</a></button>
                <button><a href="/product/<%= data.P_id %>/delete">Delete</a></button>
            </aside>

            <% }) %>

    </article>
</body>

</html>