<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Details</title>
</head>
<body>

    <h1><%= p.name %></h1>

    <img src="<%= p.img %>" height="200" width="200">

    <h3>Price: ₹ <%= p.price %></h3>

    <p>Description: <%= p.description %></p>

    <p>Rating: <%= p.rating %></p>

    <br>

    <a href="/products">⬅ Back to Products</a>

    <br><br>

    <a href="/product/<%= p._id %>/edit">✏ Edit</a>

    <br><br>

    <form action="/product/<%= p._id %>?_method=DELETE" method="POST">
        <button type="submit">🗑 Delete</button>
    </form>

</body>
</html>